.text-field {
  display: grid;
  margin-inline: 0;
  padding-inline: 0;
  padding-block: 0;
  border: none;
  gap: .5rem;

  .text-field__name {
    &::after {
      content: ' *';
      color: hsl(169, 82%, 27%);
    }
  }

  .text-field__item {
    height: 13rem;
    border-radius: .4rem;
    resize: none;
    padding: 1rem;

    &:focus {
      outline-color: hsl(169, 82%, 27%);
    }

    @media screen and (width > 640px) {
      height: 5rem;
    }
  }

  &.field_has-error {
    .text-field__item {
    border-color: hsl(0, 66%, 54%);
  }

    .text-field__error {
      display: block;
    }
  }
}
